@charset "utf-8";
/*
	妙味官网：www.miaov.com
	技术交流：bbs.miaov.com
*/

/* reset */
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0;}
em { font-style:normal;}
li { list-style:none;}
a { text-decoration:none;}
img { border:none; vertical-align:top;}
table { border-collapse:collapse;}
input,textarea { outline:none;}
textarea { resize:none; overflow:auto;}
body { font-size:12px; font-family:"微软雅黑";}
/* end reset */

/* public */
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }
/*清楚浮动包括兼容的*/
.fl { float:left; }
.fr { float:right; }
/*-----渐变-*/
.gradient {
    background:-moz-linear-gradient(top, #FFFFFF, #f8f8f8);
    background:-webkit-linear-gradient(top, #FFFFFF, #f8f8f8);
    background:-ms-linear-gradient(top, #FFFFFF, #f8f8f8);
    background:linear-gradient(top, #FFFFFF, #f8f8f8);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#f8f8f8)";
+background:#f9f9f9;
}

/*//-----布局的样式*/
body{margin-bottom: 30px;}
#header{width:960px;height:30px;margin:0 auto;border-radius: 0 0 6px 6px;}
#nav{width: 960px;height: 100px;margin: 0 auto;position: relative;}
#search{width: 958px;height:114px;margin: 0 auto 10px;border: 1px solid #dbdbdb;border-radius: 6px;position: relative;}

.content{width: 960px;margin: 0 auto;}
.main{width: 710px;}
.main_wrap{padding-bottom: 10px;}
.section{width:318px;/*height:200px;*/padding: 0 15px; border: 1px solid #dbdbdb;border-radius: 6px;/*margin-bottom: 10px;*/}
.options{width: 350px;position: relative; /*height:200px;*//*margin-bottom: 10px;*/}
.main_ad{margin-bottom: 10px;border-radius: 6px;overflow: hidden;}
.side{width: 240px;}
.side_section{/*height:60px;*/border: 1px solid #dbdbdb;border-radius: 6px;margin-bottom: 10px;padding: 0 12px;}
.side_ad{border-radius: 6px;overflow: hidden;margin-bottom: 10px;}
.ad_border{width: 238px;height: 88px; border: 1px solid #dbdbdb;border-radius: 6px;overflow: hidden;margin-bottom: 10px;}
#footer{width:958px; height:64px; margin:0 auto; background:#f9f9f9;border: 1px solid #dbdbdb;border-radius: 6px;}

/*#footer给父级清除浮动<div class="content clear">*/


/*--选项卡--*/
.options .nav{height: 34px;position: relative;z-index: 2;}
.options .nav li{text-align: center; width: 172px;height: 33px;line-height:33px;border: 1px solid #dbdbdb;border-bottom:none; border-radius:6px 6px 0 0;position: relative;}
.options .nav .active{width: 172px;height: 34px;line-height: 34px; background: #ffffff;}
.options .con{width: 318px;/*height: 388px;*/border: 1px solid #dbdbdb;border-radius:0 0 6px 6px;position: absolute;top: 30px;left: 0;z-index: 1;padding: 0 15px;}
/*<ul class="nav">*/
/*<li class="active fl">aaa</li>*/
       /*<li class="gradient fr">bbb</li>*/
/*</ul>*/
       /*<div class="con"></div>*/
/*--选项卡--*/

/*给所有的clear加上main_wrap----.main_wrap{padding-bottom: 10px;}*/


/*块里面的内容*/
/*头部*/
#header .city{float: left;padding: 5px 0 0 20px;}
#header .city a{display:inline-block;padding: 0 7px; height:18px; border-radius: 4px;border: 1px solid #e5e5e5;box-shadow: 1px 1px 2px #ededed;line-height: 18px;background: white;color: #999;}
#header .city .active{color: #d60d03;}
#header .city a:hover{background: #f1f1f1;}
#header .link{float: right;line-height: 30px;padding-right: 20px;color: #d5d5d5;word-spacing:4px;}
#header .link a{color: #666;background: url("../img/header_link_bg.gif") no-repeat 0 3px;padding-left:20px;}
#header .link a:hover{text-decoration: underline;}
#header .link .ico1{background-position:0 3px;}
#header .link .ico2{background-position:0 -27px; }
/*word-spacing: 4px;字符间距*/
/*头部*/


/*导航*/
#nav ul{position: absolute;top: 10px;}
#nav li{float: left;}
#nav li a{display:block; width: 66px;padding-top: 50px;text-align: center;background: url("../img/nav_bg.png")no-repeat; color: black;}
#nav li a:hover{text-decoration:underline;}
#nav .bg1{background-position: 0 0;}
#nav .bg2{background-position: -66px 0;}
#nav .bg3{background-position: -132px 0;}
#nav .bg4{background-position: -198px 0;}
#nav .bg5{background-position: -264px 0;}
#nav .bg6{background-position: -330px 0;}
#nav .bg7{background-position: -396px 0;}
#nav .bg8{background-position: -462px 0;}
#nav .bg9{background-position: -528px 0;}
#nav .bg10{background-position: -594px 0;}

/*鼠标移入的切换*/
#nav .bg1:hover{background-position: 0 -70px;}
#nav .bg2:hover{background-position: -66px -70px;}
#nav .bg3:hover{background-position: -132px -70px;}
#nav .bg4:hover{background-position: -198px -70px;}
#nav .bg5:hover{background-position: -264px -70px;}
#nav .bg6:hover{background-position: -330px -70px;}
#nav .bg7:hover{background-position: -396px -70px;}
#nav .bg8:hover{background-position: -462px -70px;}
#nav .bg9:hover{background-position: -528px -70px;}
#nav .bg10:hover{background-position: -594px -70px;}

#nav .nav_1{left: 11px;}
#nav .nav_2{right: 11px;}
#nav h1{width: 223px;height: 62px;margin: 0 auto;position: relative;top: 10px;}
/*导航*/

/*头部选项卡*/
#search .bar{width: 958px; height: 64px; border: 1px solid #c40d0e; position: absolute;top: 16px;left: -1px;border-radius: 5px;background: #e21c01;box-shadow: 2px 3px 2px #e3e3e3;}

#search .menu{position: absolute;left: 226px;top: -27px;}
#search .menu li{float: left;width: 78px;height: 25px;margin-right: 1px;border: 1px solid #f8d0bf;border-radius: 5px 5px 0 0;text-align: center;line-height: 25px;color: black;font-size: 14px;cursor: pointer;border-bottom: none;box-shadow: 1px 0 2px rgba(176,176,176,0.3);}
#search .menu .active{height: 27px;background: #e21c01;color: #fff;font-weight: bold;position: relative;top: 1px;border: 1px solid #e21c01;text-shadow: 2px 2px 3px rgba(0,0,0,0.25);}

#search .img{width:163px;height:122px; background: url("../img/search_img.png") no-repeat; position: absolute;left: 32px;top: -3px;z-index: 2;}
/*头部选项卡*/

/*搜索框部分*/
#search .form{position: absolute;left:226px;top: 36px; z-index: 3;}
#search .form .text{width: 380px;height: 22px;padding:0 12px; border-radius: 3px;border: none;background: #fff1ef;float: left;margin-right: 10px; color: #ea7a7a;box-shadow:inset 2px 2px 3px rgba(0,0,0,0.25);}
#search .form .btn{width: 63px;height: 26px;background: url("../img/search_img.png") no-repeat -163px 0;float: left; border: none;}
/*文字*/
#search .kay_text{width: 206px; color: #fff;line-height: 18px;position: absolute;top: 30px;right: 36px;}
#search .kay_text a{color: #FFFFFF;}
#search .kay_text a:hover{text-decoration: underline;}
/*文字*/
/*三角形*/
.triangle_up{position: absolute; width: 0;height: 0;overflow: hidden;border-left: 4px solid transparent;border-right: 4px solid transparent;border-bottom: 4px solid #ca0309;}

.triangle_down{position: absolute; width: 0;height: 0;overflow: hidden;border-left: 4px solid transparent;border-right: 4px solid transparent;border-top: 4px solid #ca0309;}

.triangle_down_gray{position: absolute; width: 0;height: 0;overflow: hidden;border-left: 4px solid transparent;border-right: 4px solid transparent;border-top: 4px solid #c4bdbd;}
/*三角形*/

/*箭头文字部分*/
#search .update { width:405px; height:30px; position:absolute; left:226px; bottom:0; background:url(../img/search_img.png) no-repeat -226px 8px; }
#search .wrap { width:336px; height:30px; overflow:hidden; position:relative; left:60px; }
#search .update ul { width:336px; position:absolute; top:0; left:0; }
#search .update li { height:30px; line-height:30px; }
#search .update a { color:#000; }
#search .update a:hover { text-decoration:underline; }
#search .update strong { color:#d30703; font-weight:normal; }
#search .update span { color:#999; }
#search .update .triangle_up{top:8px; right:0;}
#search .update .triangle_down{top:17px; right:0;}
/*箭头文字部分*/

/*搜索框部分*/

/*宠物狗*/
.video_title{font-family: Arial; color: red; font-size:18px;height: 42px;line-height: 42px;background: url("../img/video_bg.gif") no-repeat 105px 10px;font-weight: normal;position: relative;}
.video_title sup{position: absolute;top:-10px;left:53px;font-family: "宋体";}
.video_list{padding-left: 75px;height: 78px;background: url("../img/video_bg.gif") no-repeat 3px -47px ;}
.video{margin-bottom: 13px;}
.video_list li{line-height: 20px; text-indent: 14px;background: url("../img/dot.gif") no-repeat 5px center ;}
.video_list a{color: #6e6e6e;}
.video_list a:hover{text-decoration: underline;}
/*宠物狗*/
/*块里面的公共样式*/
.main_title{ height: 40px;line-height: 40px; position: relative;}
.main_title sup{position: absolute;top: -2px;left: 18px;}
.main_title strong{color: red;font-family: Arial;font-size: 12px;}
.main_title span{color: black;}
.main_title a{position: absolute;top: 15px;right: 0;}
/*块里面的公共样式*/

/*选项卡样式*/
.nav li strong{color: #cc0d13;font-family: Arial;font-size: 12px;}
.nav li span{color: #000;}
.nav .triangle_down{position: absolute;top: 14px; right: 12px;}
.nav .triangle_down_gray{position: absolute;top: 14px; right: 12px;}

.hot_list{ height:374px; padding-top: 10px;position: relative;}
.hot_list li{width: 318px;height: 98px;margin-bottom: 6px;padding-top: 10px; background: url("../img/hot_list_li_bg.gif") no-repeat ;}
.hot_list .img{float: left;width: 106px;height: 86px;}
.hot_list .img a{border: 1px solid #e6e6e6; display:block; width: 104px;height: 84px;}
.hot_list .img a:hover{border: 1px solid #929292;}
.hot_list .text{float: right;width: 190px;}
.hot_list .h3{line-height: 24px;}
.hot_list .h3 a{font-weight: normal;color: #bb0d0d;}
.hot_list .p{color: #6e6e6e;line-height: 16px;}
.hot_list .more{position: absolute;bottom: 5px;right: 0;}
/*选项卡样式*/

/*知道分子那里的选项卡*/
.tab{height: 25px;border-bottom: 1px solid #929292;padding: 0px 10px;}
.tab ul{height: 26px;margin-bottom: -1px;position: relative;}
.tab li{float: left;width: 98px;height: 24px;border: 1px solid #dadada;border-radius: 4px 4px 0 0; margin-right: -1px;text-align: center;line-height: 24px;color: #666666;position: relative;cursor: pointer;}
.tab .active{border-bottom: 1px solid #FFFFFF;background: white;font-weight: bold;color: #454545;}
.tab li a{top: 10px;right: 12px;}
/*知道分子那里的选项卡*/

/*抢劵儿选项卡*/
.section .tab{padding: 0 10px;}
.section .tab li{width: 98px;}
.side_section .tab{padding: 0 6px;}
.side_section .tab li{width: 66px;}
/*抢劵儿选项卡*/

.list_section{}
.list_section li{height: 27px;border-top: 1px dotted #dadada;background: url("../img/dot.gif") no-repeat 5px center;line-height: 27px;vertical-align: middle;}
.list_section li a{float: left; color: black; text-indent: 14px;}
.list_section li a:hover{text-decoration: underline;}

.list_section li a em{color: #c3c3c3;}
.list_section li a span{color: #c75d61;}
.list_section .title{background: none;}
.list_section .title .col1{text-align: center;}
.list_section .col2  .list_section .col3{text-align: center;}

.side_section .col1{width: 137px;float: left;}
.side_section .col2{width: 35px;float: left;}
.side_section .col3{width: 35px;float: left;}
.list_section .col2_color{color: red;}

.section .col1{width: 273px;float: left;}
.section .col2{width: 35px;float: left;}

.section .col2 img{position: relative;top: 7px;}
/*.list_section li{border-top: none;}*/

.wrap_section1{padding-bottom: 5px;}
.wrap_section2{padding-bottom: 2px;}
.wrap_section2 li{border-bottom: 1px dotted #dadada;padding-bottom: 10px;margin-bottom: 10px;}
.wrap_section3 .pic_list{padding-bottom: 10px;}
.wrap_section3{padding-bottom: 1px;}
.wrap_section4 .pic_list{overflow: hidden;}
.wrap_section4{padding-bottom: 10px;}
.wrap_section4 .pic_list li{float: left; height:150px; width: 107px;}
.wrap_section4 .pic_list h3{line-height: 30px;}

.soso{height: 47px; border-top:1px dotted #dadada; padding: 17px 0 0 10px;}
.soso strong{color: #595959;padding-top: 3px;}
.soso .text{width: 172px;height: 20px;border: 1px solid #9c9c9c;line-height: 20px;padding: 0px 4px;}
.soso .btn{border-radius: 50%;background: url("../img/btn.gif");width: 24px;height: 25px;border: none;margin-left: 10px;}

.soso strong, .soso .text, .soso .btn{float: left;}


/*登录框*/
.login{
    height: 138px;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #dbdbdb;
}

.login h2 {
    text-indent:12px;
    color:#000; font-size:12px;
    line-height:32px;
    border-bottom:1px solid #dbdbdb;
}
.login h2 em{
    color: #cc0d13;
    font-family: arial;
    font-size: 12px;
}
.login .form {
    width:214px;
    padding:15px 0 2px;
    border-bottom:1px solid #f2f2f2;
    margin:0 auto;
    position:relative;
}
.login .form .text {
    color: #828a8b;;
}
.login li {
    height:26px;
    vertical-align:middle;
}
.login li span, .login li input, .login li strong {
    float:left;
}
.login span { float:left; width:58px; color:#595959; word-spacing:7px; }
.login .text{ float:left; width:87px; height:17px; margin-right:3px; overflow:hidden; border:1px solid #dbdbdb; background:#f7f7f7; }
.login .textb{/*登录输入框密码*/
    float:left; width:87px; height:17px; margin-right:3px; overflow:hidden; border:1px solid #dbdbdb; background:#f7f7f7;
}
.login strong { font-weight:normal; padding-left:3px; }
.login .btn { width:54px; height:22px; border:none; background:#cb0000; color:#fff; font-family:'宋体'; font-size:12px; font-weight:bold; border-radius:10px; cursor: pointer;}
.login p { line-height:32px; text-align:center; word-spacing:20px; }
.login p a { padding-left:14px; background:url(../img/dot.gif) no-repeat 4px center; color:#666; }
.login p a:hover { text-decoration:underline; }


.pic_list{}
.pic_list li{overflow: hidden;}
.pic_list .img{width: 96px;height: 73px;position: relative;}
.pic_list .img a{display: block;width: 90px;height: 67px;padding: 2px;border: 1px solid #dadada;}
.pic_list .img a:hover{border: 1px solid #b80000;}
.pic_list .text{width: 108px;}
.pic_list .text h3{}
.pic_list .text h3 a{color: #b80000;font-weight: normal;font-size: 12px;}
.pic_list .text h3 a:hover{text-decoration: underline;}
.pic_list .text p{color: #999;}
.pic_list .text p a{color: #666;}
.pic_list .text a:hover{color: #b80000;text-decoration: underline;}


.side_section .pp{padding-bottom: 6px;}
.side_section .pen{padding-bottom: 6px;font-size: 12px;color: black;font-family: "微软雅黑";}



/*每日活动*/
.new_title{ height: 70px;position: relative;background: url("../img/new_title_bg.gif")no-repeat right 0;}

.new_title strong{font-size: 12px;font-family:Arial;color: #ea2b31;position: absolute;left: 24px;top: 19px;}

.new_title span{font-size: 24px;color: #333;position: absolute;left: 24px;top: 31px;}

.new_title em{font-size: 36px;font-weight: bold;color: #ec1c16;position: absolute;top: 16px; left: 125px;}

.activity{width: 348px;float: left;border: 1px solid #dadada;border-radius:6px;}
.recommend{width: 348px;float: right;border: 1px solid #dadada;border-radius:6px;}
.recommend .new_title{background-position: right -70px;}
.activity, .recommend { height:498px; }

.activity .con{background: url("../img/activity_bg.gif")no-repeat;}
.activity .img{float: left;width:84px;height: 84px;position: relative;top: 12px;left: 24px;}
.activity .mask { width:84px; height:84px; background:url(../img/activity_bg.gif) no-repeat -373px 0; position:absolute; top:0; left:0; }
.activity .img img { width:84px; height:84px; }
.activity .text { float:right; width:204px; }
.activity .text h3 { height:32px; font-size:12px; }
.activity .text em, .activity .text span { float:left; margin-right:4px; }
.activity .text em { width:25px; height:25px; background:url(../img/activity_bg.gif) no-repeat -348px 0; font-family:arial; font-size:14px; color:#cf3530; text-align:center; line-height:25px; position: relative;right: 24px;top: 11px;}
.activity .text span { text-indent:2px; padding-top:4px;position: relative;top: 11px; right: 24px;}
.activity .text p {width: 197px; line-height:18px; color:#999;position: relative;top: 8px;right: 24px; }


.calendar{width: 323px; padding-left: 25px;position: relative;top: 30px;}
.calendar h3{height: 34px;margin-right: 31px; background: url("../img/adorn.gif") repeat-x;line-height: 34px;text-align: center;word-spacing: 10px;}
.calendar h3 span{font-size: 14px;font-family: Arial;}
.calendar ol{}
.calendar ol li{width: 40px;height: 40px;margin: 0px 2px 2px 0;background: #ededed;float: left;text-align: center;line-height: 40px;position: relative;font-weight: bold;color: #666666;}
.calendar .normal{color: #cccccc;background: #f8f8f8;}
.calendar .active{border: 2px solid #d30408;width: 36px;height: 36px;position: absolute;top: 0px;left: 0px;}
.calendar .img{width: 40px;height: 40px;position: absolute;top: 0px;left: 0;}
.today_info{height: 84px;width: 294px;padding: 10px;border: 1px solid #c0c0c0;position: absolute;top: 130px;left: 240px;background: white;box-shadow: 4px 4px 0 0 rgba(0,0,0,0.2);display: none;}
.today_info img{border: 2px solid #dbdbdb; width: 80px;height: 80px;float: left;}
.today_info .text{width: 200px;float: right;}
.today_info .text h4{font-size: 12px;}
.today_info .text h4 strong{font-size: 16px;color: #929292;}
.today_info .text p{padding-left:22px;top: 2px;}
.today_info a .go{width: 20px;height: 20px;border: none;position: absolute;left: 270px;top: 75px;}
.today_info span{width: 8px;height: 14px;overflow: hidden; position: absolute;top: 40px;left: -8px; background: url("../img/adorn.gif") no-repeat 0 -48px;}

.recommend .pic{width: 294px;height: 168px;background: #f8f8f8;position: relative;border-radius: 6px;margin: 0 auto;padding: 12px 12px 0;}
.recommend .pic ul{width: 223px;height: 133px;position: absolute;top: 12px;left: 12px;}
/*把图片藏起来*/
.recommend .pic ul li{width: 223px;height: 133px;border: 1px solid #FFFFFF;position: absolute;top:0;left: 0; }

.recommend .pic ul img{width: 223px;height: 133px;}
.recommend .pic ol{position: absolute;top:12px;right: 12px;}
.recommend .pic ol li{width: 54px;height: 30px;border: 3px solid #FFFFFF;margin-bottom:  13px;}
.recommend .pic ol .active{border: 3px solid #d6191d;}
.recommend .pic ol img{width: 54px;height: 30px;}
.recommend .pic p{line-height: 32px;position: absolute;left: 12px;bottom: 0;}

.recommend .list_text{ width: 316px;height: 242px;margin: 0 auto;}
.recommend .list_text ul{width: 316px;height: 242px;margin-top: 15px;}
.recommend .list_text li{width: 300px;height: 28px;line-height: 28px;left: 8px;top: 22px;overflow: hidden;margin: 0 auto; }
.recommend .list_text a:hover{text-decoration: underline; }
.recommend .list_text li img{float: left;padding-top: 9px;}
.recommend .list_text li a{font-size: 12px;padding-left: 4px;color: black;}
.recommend .list_text li p{float: left;color: #dfdfdf;padding-left: 5px;}
.recommend .list_text li span{font-size: 12px;padding-left: 20px;color: #c4bdbd;}

.bbs{height: 325px;}
.bbs ol{}
.bbs ol li{height: 30px;margin-bottom: 3px;background: #f8f8f8;border-radius: 6px;line-height: 30px;vertical-align: middle;position: relative;}
.bbs ol strong{color: #d80000;float: left; width: 45px;text-indent: 10px;}
.bbs ol img{display: none;}
.bbs ol a{color: #333333;float: left;}
.bbs ol a:hover{}
.bbs ol span{display: none;}
.bbs ol em{display: none;}
.bbs ol b{color: #666666;float: right;padding-right: 22px;font-weight: normal;}
.bbs .active{height: 70px;background: #d90000;}
.bbs .active img{position: absolute;top: 10px;left:10px;}
.bbs .active img{display: block;}
.bbs .active a{position: absolute; color: #FFFFFF;font-weight: bold;top: 7px;left: 70px;}
.bbs .active span{display: block; position: absolute; color: #FFFFFF;top: 33px;left: 70px;}
.bbs .active b{display: none;}
.bbs .active em{display: block;position: absolute;bottom: -5px;right: 4px;font-size: 26px;color: #FFFFFF;font-weight: bold;}

.hot_area{height: 258px;}
.hot_area ul{}
.hot_area li{width: 78px;height: 78px;}
.hot_area li img{width: 78px;height: 78px;}

.hot_area .area1{width: 156px;height: 78px;}
.hot_area .area1 img{width: 156px;height: 78px;}

.hot_area .area2{width: 77px;height: 78px;}
.hot_area .area2 img{width: 77px;height: 78px;}

.hot_area li{float: left; margin: 0 2px 2px 0;position: relative;}

.hot_area p {width: 156px;height: 78px;color: white;position: absolute; top:0;left: 0; text-align: center;padding-top: 10px;background: rgba(0,0,0,0.5);line-height: 18px;}

.options .map{width: 318px;height: 294px;position: relative;}
.options .map img{width: 318px;height: 294px;position: absolute;}

